@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
nav img {
  width: 10%;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
  margin-left: auto;
}

nav ul li a {
  text-decoration: none;
  color: #131313;
  font-size: 25px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ff453f;
}
.hero-section {
  color: #fff;
  margin-top: 20px;
  background-image: url("../images/about-html-bg.jpg");
  background-repeat: no-repeat;
  height: 800px;
  background-position: center;
  background-size: cover;
}
.cta-btn {
  text-decoration: none;
  margin-left: 200px;
  font-size: 20px;
  background-color: #ff453f;
  border: 2px solid #ff453f;
  color: #fff;
  padding: 15px 25px;
  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: 0.5s ease;
}
.cta-btn:hover {
  background: #ff3300c2;
  border-top-right-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0px;
}
.hero-section h1 {
  padding-top: 200px;
  margin-left: 150px;
  font-size: 70px;
  font-weight: 500;
  font-family: "Playwrite CU", cursive;
}
.hero-section h3 {
  font-size: 37px;
  font-weight: 400;
  margin-left: 150px;
  margin-bottom: 50px;
}
.gazat .container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 50px;
  margin-bottom: 100px;
}
.gazat .container .img img {
  border-radius: 30px;
}
.titel {
  color: rgb(122, 18, 104);
  font-size: 21px;
}
.subject {
  font-size: 36px;
  margin-bottom: 20px;
}
.gazat .container .text a {
  color: rgb(41, 78, 149);
  text-decoration: none;
  font-weight: bold;
}
.gazat .container .text a:hover {
  text-decoration: underline;
}
footer p {
  text-align: center;
  padding: 20px 0;
}
.social {
  display: flex;
  justify-content: space-between;
  padding: 50px 250px;
  align-items: center;
  background: #fff8f3;
}
footer ul {
  display: flex;
  gap: 50px;
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
}
.copy-right {
  font-size: 25px;
  color: #fff;
  background-color: #121212;
}
footer span {
  font-size: 20px;
}
.fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  background-image: linear-gradient(
    45deg,
    #ffdf9e,
    #ffc273,
    #e56969,
    #c1558b,
    #8a49a1
  );
  padding: 10px 10px;
  color: #fff;
  border-radius: 50%;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-linkedin-in {
  color: #0077b5;
}
.fa-youtube {
  color: #ff0000;
}
@media screen and (max-width: 786px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    gap: 40px;
    margin-left: -9px;
  }
  nav img {
    width: 50%;
    margin-bottom: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .hero-section h1 {
    margin-left: -1px;
    font-size: 35px;
    font-family: "poppins", sans-serif;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .hero-section h3 {
    font-size: 20px;
    margin-left: -1px;
    margin-left: 10px;
  }
  .cta-btn {
    margin-left: -1px;
    margin-left: 20px;
  }

  .hero-section {
    height: 100vh;
    text-align: start;
  }
  .gazat .container {
    flex-direction: column;
  }
  .gazat .container .img img {
    width: 100%;
  }
  .social {
    flex-direction: column;
    padding: 20px 50px;
  }
}
@media screen and (min-width: 786px) and (max-width: 986px) {
  nav {
    flex-direction: column;
  }
  nav img {
    width: 50%;
    margin-bottom: 50px;
  }
  nav ul {
    margin-left: -9px;
    gap: 40px;
  }
  nav ul li a {
    font-size: 25px;
  }
  .gazat .container {
    flex-direction: column;
  }
  .social {
    flex-direction: column;
    padding: 20px 50px;
  }
}
@media screen and (min-width: 986px) and (max-width: 1024px) {
  nav {
    flex-direction: column;
  }
  nav img {
    width: 50%;
    margin-bottom: 50px;
  }
  nav ul {
    margin-left: -9px;
    gap: 40px;
  }
  nav ul li a {
    font-size: 35px;
  }
  .gazat .container {
    flex-direction: column;
  }
  .cta-btn {
    text-decoration: none;
    font-size: 30px;
    background-color: #ff453f;
    color: #fff;
    padding: 20px 35px;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .social {
    flex-direction: column;
    padding: 20px 50px;
  }
}
