@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
nav img {
  width: 10%;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
  margin-left: auto;
}

nav ul li a {
  text-decoration: none;
  color: #131313;
  font-size: 25px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ff453f;
}
.buy-now {
  margin-top: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/buy-laptop-html-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}
from
.buy-now .container form #input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 650px;
  width: 500px;
}
@media screen and (max-width: 767px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    gap: 40px;
    margin-left: -9px;
  }
  nav img {
    width: 50%;
    margin-bottom: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media screen and (min-width: 786px) and (max-width: 986px) {
  nav {
    flex-direction: column;
  }
  nav img {
    width: 50%;
    margin-bottom: 50px;
  }
  nav ul {
    gap: 40px;
    margin-left: -9px;
  }
  nav ul li a {
    font-size: 25px;
  }
}
@media screen and (min-width: 986px) and (max-width: 1024px) {
  nav {
    flex-direction: column;
  }
  nav img {
    width: 50%;
    margin-bottom: 50px;
  }
  nav ul {
    gap: 40px;
    margin-left: -9px;
  }
  nav ul li a {
    font-size: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  nav {
    flex-direction: column;
  }
  nav img {
    width: 25%;
    margin-bottom: 30px;
  }
  nav ul {
    gap: 40px;
    margin-left: -9px;
  }
}
