@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
nav img {
  width: 10%;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
  margin-left: auto;
}

nav ul li a {
  text-decoration: none;
  color: #131313;
  font-size: 25px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ff453f;
}
.hero-section {
  text-align: center;
  margin-top: 20px;
  background-image: url("../images/wallpaper.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.section-titel {
  font-weight: 600;
  padding-top: 250px;
  font-size: 80px;
  color: #fff;
  text-align: center;
}
.section-description {
  color: #fff;
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
  margin-bottom: 20px;
}
.cta-btn {
  text-decoration: none;
  font-size: 20px;
  background-color: #ff453f;
  color: #fff;
  padding: 15px 25px;
  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: 0.5s ease;
}
.cta-btn:hover {
  background: #ff3300c2;
  border-top-right-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0px;
}
.laptop-1 .container {
  display: flex;
  align-items: center;
  padding: 100px;
  gap: 100px;
}

.laptop-1 .container .text-contant h2 {
  font-size: 40px;
  font-weight: 600;
}
.img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 300px;
}
.grid-container img {
  width: 100%;
}
footer p {
  text-align: center;
  padding: 20px 0;
}
.social {
  display: flex;
  justify-content: space-between;
  padding: 50px 250px;
  align-items: center;
  background: #fff8f3;
}
footer ul {
  display: flex;
  gap: 50px;
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
}
.copy-right {
  font-size: 25px;
  color: #fff;
  background-color: #121212;
}
footer span {
  font-size: 20px;
}
.fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  background-image: linear-gradient(
    45deg,
    #ffdf9e,
    #ffc273,
    #e56969,
    #c1558b,
    #8a49a1
  );
  padding: 10px 10px;
  color: #fff;
  border-radius: 50%;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-linkedin-in {
  color: #0077b5;
}
.fa-youtube {
  color: #ff0000;
}
@media screen and (max-width: 786px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    margin-right: 135px;
  }
  nav img {
    width: 50%;
    margin-bottom: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .section-titel {
    padding-top: 100px;
    font-size: 50px;
  }
  .laptop-1 {
    margin-top: 50px;
  }
  .laptop-1 .container {
    flex-direction: column;
    padding: 20px;
  }
  .laptop-1 .container .image img {
    width: 400px;
  }
  .section-description {
    margin-bottom: 50px;
  }
  .img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 10px;
  }
}
@media screen and (min-width: 786px) and (max-width: 986px) {
  nav {
    flex-direction: column;
  }
  nav img {
    width: 50%;
    margin-bottom: 50px;
  }
  nav ul {
    margin-right: 135px;
  }
  nav ul li a {
    font-size: 25px;
  }
  .section-titel {
    padding-top: 100px;
    font-size: 50px;
  }
  .laptop-1 {
    margin-top: 50px;
  }
  .laptop-1 .container {
    flex-direction: column;
    padding: 20px;
  }
  .laptop-1 .container .image img {
    width: 650px;
  }
  .section-description {
    margin-bottom: 50px;
  }
  .img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 10px;
  }
}
@media screen and (min-width: 986px) and (max-width: 1024px) {
  nav {
    flex-direction: column;
  }
  nav img {
    width: 50%;
    margin-bottom: 50px;
  }
  nav ul {
    margin-right: 180px;
  }
  nav ul li a {
    font-size: 35px;
  }
  .section-titel {
    padding-top: 100px;
    font-size: 70px;
  }
  .laptop-1 {
    margin-top: 50px;
  }
  .laptop-1 .container {
    flex-direction: column;
    padding: 20px;
  }
  .laptop-1 .container .image img {
    width: 650px;
  }
  .section-description {
    font-size: 25px;
    margin-bottom: 50px;
  }
  .img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 10px;
  }
  .cta-btn {
    text-decoration: none;
    font-size: 30px;
    background-color: #ff453f;
    color: #fff;
    padding: 20px 35px;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
